#AllMeIfo{
    max-width: 100%;

}

#aboutMeBGShape{
    background-color: #BF4513;
    border-radius: 0 0 105px 0;

}
@media screen and (max-width: 1124px)
{#profilePictureFrame,#profilePicture
{display: none}
}

#profilePictureFrame{
    background-color: #D8D0CE;
    border-radius: 360px 0 0 360px;
    width: 40%;

}
#profilePicture{
    border-radius: 360px;
    width: 35%;

}

.btn-lg{
    border: none;
    border-radius: 28px 0 28px 0;
    background-color: #BF4513;
    color: white;
    width: 10em;
}
@media screen and (max-width: 1124px)
{.btn-lg
{width: 8em}
}
#PortFolioSection{
    background-color:#212529 ;
    color: #fff;

}
#PortFolioSection p #PortFolioSection2 p {
    padding: 0;
    margin: 0;
}
.carousel-inner{
    border: solid white 2px;

}
.row {
    margin: 0;
    padding: 0;
}
#contactMe{
    background-color: #BF4513;
    color: white;
}