#AllMeInfo{
    max-width: 100%;

}

#aboutMeBGShape{
    background-color: #BF4513;
    border-radius: 0 0 105px 0;
    height: fit-content;

}
@media screen and (max-width: 1124px)
{#profilePictureFrame, #profilePicture
{display: none}
}

#profilePictureFrame{
    background-color: #D8D0CE;
    border-radius: 360px 0 0 360px;
    width: 40%;

}
#profilePicture{
    border-radius: 360px;
    width: 35%;

}

.btn-lg{
    border: none;
    border-radius: 28px 0 28px 0;
    background-color: #BF4513;
    color: white;
    width: 10em;
}
@media screen and (max-width: 1124px)
{.btn-lg
{width: 8em}
}
#PortFolioSection{
    background-color:#212529 ;
    color: #fff;

}
#PortFolioSection p #PortFolioSection2 p {
    padding: 0;
    margin: 0;
}
.carousel-inner{
    border: solid white 2px;

}
.row {
    margin: 0;
    padding: 0;
}
#Qualifications{
    background-color: #BF4513;
    color: white;
}
#contactMeForm{
    margin-bottom: auto;
}

#submit1.btn, #reset2.btn {
    width: 7em;
}

#firstName1, #lastName2{
    display: inline-block;
    width: 50%;
}
.dDFS1 p {
    /*border: blue solid 1px;*/
    margin-bottom: 4px;
}
#mQ12 p{
    /*border: green solid 1px;*/
    margin-bottom: 4px;
}
#this1{
    /*border: green solid 1px;*/
    margin-bottom: 4px;
}